/.env
/bin
/include
/lib
/lib*
/pyvenv.cfg
/exampleData.py
**.db
**pycache**
**__pycache__/*
**__pycache__/*
/*pycache*
/.env
/lib
/bin
/*pycache*
/ExampleData.py
/checkdevices.py
/*.cfg
/mac_info.db
/.vscode
/*.db
**__pycache__
**.pyc
**.DS_Store
**dattoModules.py
/integratedPackages